<mat-card>
  <mat-card-title id="title" *ngIf="listConfig.title">{{ listConfig?.title(item) }}</mat-card-title>
  <img mat-card-image *ngFor="let image of listConfig.images" src="assets/img/{{item[image]}}">
  <mat-card-content>
    <div *ngFor="let header of listConfig.headers" class="row">
      <label>{{ header.title}}</label>
      <span>{{ item[header.property] }}</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button *ngFor="let action of listConfig.actions">
        <mat-icon id="icon_{{action.icon}}" (click)="onClickAction(action.icon)" colorDelegate [delegate]="action.getColor(item)">{{
            action.icon }}</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
